@(f: Form[RefereeRequest])(
  implicit request: RequestHeader,
  active_call: Option[Call], calls: Seq[Call], user: Option[User],
  config: play.api.Configuration, messages: play.api.i18n.Messages)

@import views.html.helper.FieldConstructor
@implicitField: FieldConstructor = @{FieldConstructor(fieldConstructorTemplate.f)}

@main(messages("add.title")) {
  @if(f.hasGlobalErrors) {
    <ul class="error">
      @for(error <- f.globalErrors) { <li>@error.format</li> }
    </ul>
  }

  @helper.form(action = routes.RefereeController.add(), Symbol("id") -> "add") {
    <div>
      @helper.inputText(f("dossier_name"),    Symbol("_label") -> messages("add.dossierName"))
      @helper.inputText(f("dossier_details"), Symbol("_label") -> messages("add.dossierDetails"))
      @helper.inputText(f("dossier_url"),     Symbol("_label") -> messages("add.dossierUrl"))
      @helper.inputText(f("email"),           Symbol("_label") -> messages("add.refereeEmail"))
      @helper.inputText(f("details"),         Symbol("_label") -> messages("add.refereeDetails"))
      @helper.inputText(f("role"),            Symbol("_label") -> messages("add.refereeRole"))

      <input type="submit" value="@messages("add.submit")">
    </div>
  }
}
