@this()

@(f: Form[String])(implicit messagesProvider: MessagesProvider,
active_year: Int, years: Seq[Int], user: Option[User], config: play.api.Configuration, request: Request[AnyContent])

@import views.html.helper.FieldConstructor
@implicitField: FieldConstructor = @{FieldConstructor(fieldConstructorTemplate.f)}

@main("Reset password") {
    @if(f.hasGlobalErrors) {
      @for(error <- f.globalErrors) {
        <p class="error">@error.format</p>
      }
    }

  @helper.form(action = routes.AuthController.initPassword(),
    Symbol("id") -> "login") {
      @helper.inputText(f("email"), Symbol("type") -> "email")
      <div class="submit">
        <input type="submit" value="Send email">
      </div>
  }
}
