@(f: Form[(String, String, String)])(
  implicit active_call: Option[Call], calls: Seq[Call], user: Option[User],
  config: play.api.Configuration, messages: play.api.i18n.Messages,
  request: RequestHeader)

@import views.html.helper.FieldConstructor
@implicitField: FieldConstructor = @{FieldConstructor(fieldConstructorTemplate.f)}

@main(messages("login.title")) {
  @if(f.hasGlobalErrors) {
    @for(error <- f.globalErrors) {
      <p class="error">@error.format</p>
    }
  }

  @helper.form(action = routes.AuthController.authenticate(),
               Symbol("id") -> "login") {
    @helper.inputText(f("email"), Symbol("type") -> "email", Symbol("_label") -> messages("login.email"))
    @helper.inputText(f("path"), Symbol("type") -> "hidden", Symbol("_label") -> "")
    @helper.inputPassword(f("password"), Symbol("_label") -> messages("login.password"))
    <div>
      <input type="submit" value="@messages("login.submit")">
    </div>
    <p><a href="@routes.AuthController.showInitPassword()">@messages("login.forgot")</a></p>
  }
}
