@(title: String,menu:Boolean=true)(content: Html)(
  implicit active_year : Int, years : Seq[Int], user: Option[User],
  config: play.api.Configuration)

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>@{config.get[String]("site_name")} @active_year Letters — @title</title>
      <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
   </head>
   <body>
     <form id="year_choice" action="">
       <select name="year" id="select_year">
         @for(y <- years.reverse) {
           <option value="@y" @if(y==active_year) {selected="selected"}>@y</option>
         }
       </select>
     </form>
     @if(menu) {
     <p id="user_info">
        @if(user.isDefined) {
          Logged in as @user.get.first_name @user.get.last_name (<a href="/logout">Log out</a>)
        } else {
          <a href="/login">Log in</a>
        }
      </p>
     }
    <script src="@routes.Assets.versioned("scripts/main.js")"></script>
     <h1>@{config.get[String]("site_name")} @active_year Letters — @title</h1>
     <div id="main_content">
       @content

       @if(menu) {
        }
    </div>
  </body>
</html>
