@(worked: Boolean)(
  implicit active_call: Option[Call], calls: Seq[Call], user: Option[User],
  config: play.api.Configuration, messages: play.api.i18n.Messages,
  request: RequestHeader)

@main(if(worked) messages("passwordReset.titleOk") else messages("passwordReset.titleFailed")) {
  @if(worked) {
    <p>@messages("passwordReset.ok") <a href="@routes.AuthController.login(None)">@messages("nav.login")</a>.</p>
  } else {
    <p>@messages("passwordReset.failed") <a href="@routes.AuthController.showInitPassword()">@messages("passwordReset.tryAgain")</a>.</p>
  }
}
