@(requests: Seq[RefereeRequest], canRefresh: Boolean,
  refreshed: Option[services.imports.ImportResult])(
  implicit active_call: Option[Call], calls: Seq[Call], user: Option[User],
  config: play.api.Configuration, messages: play.api.i18n.Messages,
  request: RequestHeader)

@main(messages("requests.title")) {
  @if(refreshed.isDefined) {
    <p class="ok">@messages("requests.refreshed", refreshed.get.total, refreshed.get.created, refreshed.get.updated, refreshed.get.unchanged)</p>
  }

  <table>
    <tr>
      <th>@messages("requests.dossierName")</th>
      <th>@messages("requests.dossierDetails")</th>
      <th>@messages("requests.referee")</th>
      <th>@messages("requests.refereeRole")</th>
      <th>@messages("requests.refereeDetails")</th>
      <th>@messages("requests.date")</th>
      <th>@messages("requests.status")</th>
    </tr>
    @for(r <- requests) {
      <tr>
        <td>
          @if(r.dossier.url.isDefined) {
            <a href="@r.dossier.url.get">@r.dossier.name</a>
          } else {
            @r.dossier.name
          }
        </td>
        <td>@r.dossier.details.getOrElse("")</td>
        <td>
          @if(r.name.isDefined) {
            <a href="mailto:@r.email">@r.name.get</a>
          } else {
            @r.email
          }
        </td>
        <td>@r.role.getOrElse("")</td>
        <td>@r.details.getOrElse("")</td>
        <td>@r.actionDate.map(_.toLocalDate.toString).getOrElse("")</td>
        <td>
          @if(r.status == RequestStatus.received) {
            <a href="@routes.RefereeController.getLetter(r.dossier.id, r.email)">@messages(s"status.${r.status}")</a>
          } else {
            @messages(s"status.${r.status}")
          }
        </td>
      </tr>
    }
  </table>

  <hr>

  <div>
    @helper.form(action = routes.RefereeController.showAdd()) {
      @helper.CSRF.formField
      <input type="submit" value="@messages("requests.addManually")">
    }
    @helper.form(action = routes.RefereeController.sendRequestEmails()) {
      @helper.CSRF.formField
      <input type="submit" value="@messages("requests.sendRequests")">
    }
    @helper.form(action = routes.RefereeController.sendRequestReminderEmails()) {
      @helper.CSRF.formField
      <input type="submit" value="@messages("requests.sendReminders")">
    }
    @if(canRefresh) {
      @helper.form(action = routes.RefereeController.refresh()) {
        @helper.CSRF.formField
        <input type="submit" value="@messages("requests.refresh")">
      }
    }
  </div>
}
