@(f: Form[(String, String, String)], name: String = "")(
  implicit active_call: Option[Call], calls: Seq[Call], user: Option[User],
  config: play.api.Configuration, messages: play.api.i18n.Messages,
  request: RequestHeader)

@import views.html.helper.FieldConstructor
@implicitField: FieldConstructor = @{FieldConstructor(fieldConstructorTemplate.f)}

@main(messages("resetPassword.title")) {
  <p>
    @if(name != "") { @messages("resetPassword.hello", name) }
    @messages("resetPassword.choose")
  </p>

  @if(f.hasGlobalErrors) {
    @for(error <- f.globalErrors) {
      <p class="error">@error.format</p>
    }
  }

  @helper.form(action = routes.AuthController.resetPassword(),
               Symbol("id") -> "reset_password") {
    @helper.inputPassword(f("new_password"),    Symbol("_label") -> messages("resetPassword.new"))
    @helper.inputPassword(f("verify_password"), Symbol("_label") -> messages("resetPassword.verify"))
    @helper.inputText(f("token"), Symbol("type") -> "hidden", Symbol("_label") -> "")
    <div>
      <input type="submit" value="@messages("resetPassword.submit")">
    </div>
  }
}
