@(f: Form[(String,String,String)], name: String = "")(implicit
messagesProvider: MessagesProvider, active_year: Int, years: Seq[Int],
user: Option[User], config: play.api.Configuration)

@import views.html.helper.FieldConstructor
@implicitField: FieldConstructor = @{FieldConstructor(fieldConstructorTemplate.f)}

@main("Set a new password") {
  <p>
    @if(name != "") {
      Hello @name.
    }
    Please choose a password with at least 8 characters.</p>

    @if(f.hasGlobalErrors) {
      @for(error <- f.globalErrors) {
        <p class="error">@error.format</p>
      }
    }

  @helper.form(action = routes.AuthController.resetPassword(),
    Symbol("id") -> "login") {
    @helper.inputPassword(f("new_password"), Symbol("_label") -> "New password")
    @helper.inputPassword(f("verify_password"), Symbol("_label") -> "Please retype")
    @helper.inputText(f("token"), Symbol("type") -> "hidden", Symbol("_label") -> "")
    <div>
      <input type="submit" value="Set password">
    </div>
  }
}
